__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.vscode
.hypothesis
figs/old/*
figs/*

*.asv
*.m~
**/.DS_Store
*.pyc

.gitignore.bak
*.bak

examples/figs/*
examples/figs

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

images/positions
images/positions/*